<!DOCTYPE HTML>
<html xmlns:th="http:www.thymeleaf.org">

<body>
	<h1>Add new container</h1>
	
	<form th:action = "@{/add}" method="post" th:object="${container}">
		<label>
			Container source:
			<input type = "text" name = "source" th:fields="*{source}" />
		</label>
		<strong th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></strong>
		<br>
		
		<label>
			Container destination:
			<input type = "text" name = "destination" th:field="*{destination}" />
		</label>
		<strong th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></strong>
		<br>
		
		<input type = "submit" />
	</form>
</body>
</html>